* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #EEEEEE !important;
}

.startPage{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.startLogo{
  width: 300px;
  border-radius: 50%;
}

.header{
  width: 100%;
  height: 150px;
  background-color: #4E6C50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

#searchBtn{
  background-color: #AA8B56 !important;
}

.favoriteMeal{
  display: flex;
}
.numberFav{
  display: flex;
  position: relative;
}
.heartFav{
  position: absolute;
  font-size: 2.5rem;
  color: white;
}
.textFav{
  position: absolute;
 color: red;
 left: 15px;
  top: px;
}

.headerText{
  position: absolute;
  color: white;
  text-align: center;
  top: 10%;
  font-family: 'Amatic SC', cursive;
}
#cookerLogo{
  width: 150px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  display: none;
}

.modal{
  position: absolute !important;
  height: 80% !important;
  overflow-y: auto;
  top: 10% !important;
}
.mealList {
  margin: auto !important;
  grid-row-gap: 20px;
  width: 85%;
}
.meals {
  display: grid;
  justify-content: center;
}
.mealCard:hover {
  box-shadow: 10px 10px 15px rgb(0 0 0 / 40%);
  transition: all 1s;
}
.card-body{
  text-align: center;
}

.input-group{
  width: 40% !important;
  top: 10%;
}
.logoText{
  position: absolute;
  top: 10%;
  color:white;
  display: none;
  font-family: 'Amatic SC', cursive;
  }

 
  .heartIcon{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 1s;
    transform: translate(0px, 0px);
    cursor: pointer;
  }
  .mealCard:hover .heartIcon{
   opacity: 1;
   transition: all 1s;
   top: 5px;
   right: 5px;
  }
  .heartIcon:active{
    color: rgb(63, 1, 1);
  }

/* Favorite Meals */
.favContainer{
  text-align: center;
}
  .favBtn{
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .favCard{
    margin: 10px;
  }
  .favCard .card-body{
    background-color: #4E6C50;
    color: white;
  }

footer{
  bottom: 0;
  right: 0;
  width: 100%;
  margin-top: 20px;
  
}


@media (max-width: 600px) {
  .header{
    display: flex; 
    height: 180px;   
  }
  #cookerLogo{
    width: 100px;
    left: 10px;
    top: 15px;
  }
  .input-group{
    width: 100% !important;
    top: 45%;
    transform: translate(0, -50%);
  }
 .logoText{
  top: 33%;
  right: 5px;
 }
  
}
